<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
     Vendors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" >
    <ion-toolbar color="danger" >
      <ion-title size="large">Vendors</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!-- *ngFor="let item of vendors" -->
    <ion-item  class="ion-no-padding" lines="none"  *ngFor="let item of vendors" (click)="onClick(item)">
      <ion-avatar slot="start">
        <ion-img src={{item.imgPath}}></ion-img>
      </ion-avatar>
      <ion-label>
        {{item.name}}
      </ion-label>
    </ion-item>


    
    
  </ion-list>

</ion-content>
